*{
    box-sizing: border-box;
}
header{
    background-color: rgb(169, 169, 169);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

article{
    float: left;
    padding: 20px;
    width: 80%;
    background-color: wheat;
}

footer{
    background-color:rgb(169, 169, 169);
    padding: 10px;
    text-align: center;
    color: white;
}

section::after{
    content: "";
    display: table;
    clear: both;
}

nav{
    float: left;
    width: 20%;
    height: 500px;
    padding: 20px;
    background-color: rgb(230, 229, 229);
}

nav ul li{
    list-style-type: none;
    padding: 0;
    margin: 8px;
}
